:root{
    --preto: #141414;
    --branco: #ffffff;
    --vermelho:#e50914;
    --branco-selecao:#dcdcdc;
    --branco-hover:#b4afaf;
    --branco-transparente:#FFFFFFAA
}


body{
    background-color: var(--preto);
    color: var(--branco);
    font-family: 'Maven Pro', sans-serif;

}



